<h2>Edit Historical Landmark</h2>

<!-- add content here -->
<!-- add content here -->
<form method="POST" action="/landmarks/<%=@landmark.id%>">
    <input type="hidden" name="_method" value="PATCH">
    <label>Update Landmark Name:</label>
    <input type="text" name="name" value="<%=@landmark.name%>">

    <label>Update Year Completed</label>
    <input type="text" name="year_completed" value="<%=@landmark.year_completed%>">
    <input type="submit">
</form>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
